In [1]:
#Import dependencies
%matplotlib inline
import os
import requests
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pprint import pprint
from config import api_key

In [2]:
#Save config, build query url and request dataset from Bureau of Labor Statictics API
url = "https://api.bls.gov/publicAPI/v2/timeseries/data/"
headers = {"Content-type":"application/json"}
data = json.dumps({"seriesid":["LAUMT482642000000004"],"startyear":"2019", "endyear":"2020","registrationkey":api_key})
Houston_unempl = requests.post(url, data=data, headers=headers)

In [3]:
#Verify successful request and preview data
print(Houston_unempl)

<Response [200]>

In [4]:
# Pretty Print the output of the JSON
response = (Houston_unempl).json()
length = response["Results"]["series"][0]["data"]
# pprint(response)

In [5]:
#Drill down into data
unemployment=[]
month = []
year=[]

#
for rows in length:
    unemployment.append(rows["value"]) #= response["Results"]["series"][0]["data"][0]["value"]
    month.append(rows["periodName"]) #= response["Results"]["series"][0]["data"][0]["periodName"]
    year.append(rows["year"]) #= response["Results"]["series"][0]["data"][0]["year"]



Houston_df = pd.DataFrame({"Month": month,
                           "Year": year,
                           "Total Unemployment Claims": unemployment,
                         })

Houston_df.set_index("Month")
#Houston_df.head()

           Year Total Unemployment Claims
Month
July       2020                    319349
June       2020                    328034
May        2020                    463763
April      2020                    454790
March      2020                    190369
February   2020                    134536
January    2020                    141539
December   2019                    126019
November   2019                    127368
October    2019                    124867
September  2019                    127777
August     2019                    138646
July       2019                    141120
June       2019                    135598
May        2019                    115222
April      2019                    110554
March      2019                    127436
February   2019                    135643
January    2019                    150264

In [6]:
#Export dataframe to csv output file
output_file = os.path.join("Output_data","Houston_data.csv")
Houston_df.to_csv(output_file, index=False, header=True)

In [7]:
url = "https://api.bls.gov/publicAPI/v2/timeseries/data/"
headers = {"Content-type":"application/json"}
data = json.dumps({"seriesid":["LNS14000012"],"startyear":"2019", "endyear":"2020","registrationkey":api_key})
Teen_unempl = requests.post(url, data=data, headers=headers)

In [8]:
print(Teen_unempl)

<Response [200]>

In [9]:
# Pretty Print the output of the JSON
response = (Teen_unempl).json()
length = response["Results"]["series"][0]["data"]
# pprint(response)

In [10]:
#Drill down into data
Teen_unemployment=[]
month = []
year=[]

#
for rows in length:
    Teen_unemployment.append(rows["value"]) #= response["Results"]["series"][0]["data"][0]["value"]
    month.append(rows["periodName"]) #= response["Results"]["series"][0]["data"][0]["periodName"]
    year.append(rows["year"]) #= response["Results"]["series"][0]["data"][0]["year"]


Teen_df = pd.DataFrame({ "Month": month,
                        "Year": year,
                        "% Teen Unemployment Claims": Teen_unemployment,
                         })

Teen_df.set_index("Month")
#Teen_df.head()

           Year % Teen Unemployment Claims
Month
August     2020                       16.1
July       2020                       19.3
June       2020                       23.2
May        2020                       29.9
April      2020                       31.9
March      2020                       14.3
February   2020                       11.0
January    2020                       12.2
December   2019                       12.6
November   2019                       12.0
October    2019                       12.3
September  2019                       12.5
August     2019                       12.5
July       2019                       12.7
June       2019                       12.7
May        2019                       12.6
April      2019                       12.9
March      2019                       12.7
February   2019                       13.3
January    2019                       12.9

In [11]:
#Export dataframe to csv output file
output_file = os.path.join("Output_data","Teen_unemplyed.csv")
Teen_df.to_csv(output_file, index=False, header=True)

In [12]:
url = "https://api.bls.gov/publicAPI/v2/timeseries/data/"
headers = {"Content-type":"application/json"}
data = json.dumps({"seriesid":["LNS14000025"],"startyear":"2019", "endyear":"2020","registrationkey":api_key})
Men_unempl = requests.post(url, data=data, headers=headers)

In [13]:
print(Men_unempl)

<Response [200]>

In [14]:
# Pretty Print the output of the JSON
response = (Men_unempl).json()
length = response["Results"]["series"][0]["data"]
# pprint(response)

In [15]:
#Drill down into data
Men_unemployment=[]
month = []
year=[]

#
for rows in length:
    Men_unemployment.append(rows["value"]) #= response["Results"]["series"][0]["data"][0]["value"]
    month.append(rows["periodName"]) #= response["Results"]["series"][0]["data"][0]["periodName"]
    year.append(rows["year"]) #= response["Results"]["series"][0]["data"][0]["year"]


Men_df = pd.DataFrame({"Month": month,
                        "Year": year,
                       "% Men Unemployment Claims": Men_unemployment})

Men_df.set_index("Month")
#Men_df.head()

           Year % Men Unemployment Claims
Month
August     2020                       8.0
July       2020                       9.4
June       2020                      10.2
May        2020                      11.6
April      2020                      13.0
March      2020                       4.0
February   2020                       3.3
January    2020                       3.3
December   2019                       3.1
November   2019                       3.2
October    2019                       3.2
September  2019                       3.2
August     2019                       3.3
July       2019                       3.3
June       2019                       3.3
May        2019                       3.4
April      2019                       3.4
March      2019                       3.6
February   2019                       3.5
January    2019                       3.7

In [16]:
#Export dataframe to csv output file
output_file = os.path.join("Output_data","Men_unemployed.csv")
Men_df.to_csv(output_file, index=False, header=True)

In [17]:
url = "https://api.bls.gov/publicAPI/v2/timeseries/data/"
headers = {"Content-type":"application/json"}
data = json.dumps({"seriesid":["LNS14000026"],"startyear":"2019", "endyear":"2020","registrationkey":api_key})
Women_unempl = requests.post(url, data=data, headers=headers)

In [18]:
print(Women_unempl)

<Response [200]>

In [19]:
# Pretty Print the output of the JSON
response = (Women_unempl).json()
length = response["Results"]["series"][0]["data"]
# pprint(response)

In [20]:
#Drill down into data
Women_unemployment=[]
month = []
year=[]

#
for rows in length:
    Women_unemployment.append(rows["value"]) #= response["Results"]["series"][0]["data"][0]["value"]
    month.append(rows["periodName"]) #= response["Results"]["series"][0]["data"][0]["periodName"]
    year.append(rows["year"]) #= response["Results"]["series"][0]["data"][0]["year"]


Women_df = pd.DataFrame({"Month": month,
                         "Year": year,
                         "% Women Unemployment Claims": Women_unemployment})

Women_df.set_index("Month")
#Women_df.head()

           Year % Women Unemployment Claims
Month
August     2020                         8.4
July       2020                        10.5
June       2020                        11.2
May        2020                        13.9
April      2020                        15.5
March      2020                         4.0
February   2020                         3.1
January    2020                         3.2
December   2019                         3.2
November   2019                         3.2
October    2019                         3.2
September  2019                         3.1
August     2019                         3.3
July       2019                         3.3
June       2019                         3.3
May        2019                         3.3
April      2019                         3.1
March      2019                         3.3
February   2019                         3.4
January    2019                         3.6

In [21]:
#Export dataframe to csv output file
output_file = os.path.join("Output_data","Women_unemployed.csv")
Women_df.to_csv(output_file, index=False, header=True)

In [28]:
GenderDF = pd.merge(Men_df,Women_df, how="left",on="Month")
# GenderDF.rename(columns = {"Year_x":"Year"}, inplace = True)
# GenderDF.set_index("Month")
GenderDF

,Month,Year_x,% Men Unemployment Claims,Year_y,% Women Unemployment Claims
0,August,2020,8.0,2020,8.4
1,August,2020,8.0,2019,3.3
2,July,2020,9.4,2020,10.5
3,July,2020,9.4,2019,3.3
4,June,2020,10.2,2020,11.2
5,June,2020,10.2,2019,3.3
6,May,2020,11.6,2020,13.9
7,May,2020,11.6,2019,3.3
8,April,2020,13.0,2020,15.5
9,April,2020,13.0,2019,3.1
10,March,2020,4.0,2020,4.0
11,March,2020,4.0,2019,3.3
12,February,2020,3.3,2020,3.1
13,February,2020,3.3,2019,3.4
14,January,2020,3.3,2020,3.2
15,January,2020,3.3,2019,3.6
16,December,2019,3.1,2019,3.2
17,November,2019,3.2,2019,3.2
18,October,2019,3.2,2019,3.2
19,September,2019,3.2,2019,3.1
20,August,2019,3.3,2020,8.4
21,August,2019,3.3,2019,3.3
22,July,2019,3.3,2020,10.5
23,July,2019,3.3,2019,3.3
24,June,2019,3.3,2020,11.2
25,June,2019,3.3,2019,3.3
26,May,2019,3.4,2020,13.9
27,May,2019,3.4,2019,3.3
28,April,2019,3.4,2020,15.5
29,April,2019,3.4,2019,3.1
30,March,2019,3.6,2020,4.0
31,March,2019,3.6,2019,3.3
32,February,2019,3.5,2020,3.1
33,February,2019,3.5,2019,3.4
34,January,2019,3.7,2020,3.2
35,January,2019,3.7,2019,3.6

In [23]:
#Export dataframe to csv output file
output_file = os.path.join("Output_data","Gender.csv")
GenderDF.to_csv(output_file, index=False, header=True)

In [24]:
Total_TeenDF = pd.merge(Houston_df,Teen_df, on="Month")
Total_TeenDF.rename(columns = {"Year_x":"Year"}, inplace = True)
Total_TeenDF.set_index("Month")
Total_TeenDF

,Month,Year,Total Unemployment Claims,Year_y,% Teen Unemployment Claims
0,July,2020,319349,2020,19.3
1,July,2020,319349,2019,12.7
2,July,2019,141120,2020,19.3
3,July,2019,141120,2019,12.7
4,June,2020,328034,2020,23.2
5,June,2020,328034,2019,12.7
6,June,2019,135598,2020,23.2
7,June,2019,135598,2019,12.7
8,May,2020,463763,2020,29.9
9,May,2020,463763,2019,12.6
10,May,2019,115222,2020,29.9
11,May,2019,115222,2019,12.6
12,April,2020,454790,2020,31.9
13,April,2020,454790,2019,12.9
14,April,2019,110554,2020,31.9
15,April,2019,110554,2019,12.9
16,March,2020,190369,2020,14.3
17,March,2020,190369,2019,12.7
18,March,2019,127436,2020,14.3
19,March,2019,127436,2019,12.7
20,February,2020,134536,2020,11.0
21,February,2020,134536,2019,13.3
22,February,2019,135643,2020,11.0
23,February,2019,135643,2019,13.3
24,January,2020,141539,2020,12.2
25,January,2020,141539,2019,12.9
26,January,2019,150264,2020,12.2
27,January,2019,150264,2019,12.9
28,December,2019,126019,2019,12.6
29,November,2019,127368,2019,12.0
30,October,2019,124867,2019,12.3
31,September,2019,127777,2019,12.5
32,August,2019,138646,2020,16.1
33,August,2019,138646,2019,12.5

In [25]:
#Export dataframe to csv output file
output_file = os.path.join("Output_data","Total_Teen.csv")
Total_TeenDF.to_csv(output_file, index=False, header=True)

In [26]:
MergedDF = 
MergedDF.set_index("Month")
MergedDF

SyntaxError: invalid syntax (<ipython-input-26-5721d04e42f7>, line 1)

In [ ]:
#Export dataframe to csv output file
output_file = os.path.join("Output_data","Merged.csv")
MergedDF.to_csv(output_file, index=False, header=True)